<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
        <title>VacTrac - {% block title %}{% endblock title %}</title>
		
		<!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicon.png' %}">
		
		<!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
		
		<!-- Fontawesome CSS -->
        <link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/font-awesome.min.css' %}">
		
		<!-- Feathericon CSS -->
        <link rel="stylesheet" href="{% static 'admin-static/assets/css/feathericon.min.css' %}">
		
		<link rel="stylesheet" href="{% static 'admin-static/assets/plugins/morris/morris.css' %}">
		
		<!-- Main CSS -->
        <link rel="stylesheet" href="{% static 'admin-static/assets/css/style.css' %}">
		
		<!--[if lt IE 9]>
			<script src="assets/js/html5shiv.min.js"></script>
			<script src="assets/js/respond.min.js"></script>
		<![endif]-->
    </head>
    <body>
	
		<!-- Main Wrapper -->
        <div class="main-wrapper">
		
			<!-- Header -->
            <div class="header">
			
				<!-- Logo -->
                <div class="header-left">
                    <a href="{% url 'custom-admin:index' %}" class="logo">
						<img src="{% static 'assets/img/logo.png' %}" alt="Logo">
					</a>
					<a href="{% url 'custom-admin:index' %}" class="logo logo-small">
						<img src="{% static 'admin-static/assets/img/logo-small.png' %}" alt="Logo" width="30" height="30">
					</a>
                </div>
				<!-- /Logo -->
				
				<a href="javascript:void(0);" id="toggle_btn">
					<i class="fe fe-text-align-left"></i>
				</a>
				
				<div class="top-nav-search">
					<form>
						<input type="text" class="form-control" placeholder="Search here">
						<button class="btn" type="submit"><i class="fa fa-search"></i></button>
					</form>
				</div>
				
				<!-- Mobile Menu Toggle -->
				<a class="mobile_btn" id="mobile_btn">
					<i class="fa fa-bars"></i>
				</a>
				<!-- /Mobile Menu Toggle -->
				
				<!-- Header Right Menu -->
				<ul class="nav user-menu">

					<!-- Notifications -->
					<li class="nav-item dropdown noti-dropdown">
						<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
							<i class="fe fe-bell"></i> <span class="badge badge-pill">3</span>
						</a>
						
					</li>
					<!-- /Notifications -->
					
					<!-- User Menu -->
					<li class="nav-item dropdown has-arrow">
						<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
							<span class="user-img"><img class="rounded-circle" src="{{ request.user.profile_picture_thumbnail.url }}" width="31" alt="Ryan Taylor"></span>
						</a>
						<div class="dropdown-menu">
							<div class="user-header">
								<div class="avatar avatar-sm">
									<img src="{{ request.user.profile_picture_thumbnail.url }}" alt="User Image" class="avatar-img rounded-circle">
								</div>
								<div class="user-text">
									<h6>{{ request.user.username }}</h6>
									<p class="text-muted mb-0">Administrator</p>
								</div>
							</div>
							<a class="dropdown-item" href="#">My Profile</a>
							<a class="dropdown-item" href="#">Settings</a>
							<a class="dropdown-item" href="{% url 'accounts:logout' %}">Logout</a>
						</div>
					</li>
					<!-- /User Menu -->
					
				</ul>
				<!-- /Header Right Menu -->
				
            </div>
			<!-- /Header -->
			
			<!-- Sidebar -->
            <div class="sidebar" id="sidebar">
                <div class="sidebar-inner slimscroll">
					<div id="sidebar-menu" class="sidebar-menu">
						<ul>
							<li class="menu-title"> 
								<span>Main</span>
							</li>
							<li class=""> 
								<a href="{% url 'custom-admin:index' %}"><i class="fe fe-home"></i> <span>Dashboard</span></a>
							</li>
							<li class=""> 
								<a href="{% url 'custom-admin:hospitals' %}"><i class="fe fe-plus"></i> <span>Hospitals/Clients</span></a>
							</li>
							<li> 
								<a href="{% url 'custom-admin:vaccines' %}"><i class="fe fe-users"></i> <span>Vaccines</span></a>
							</li>
							<li> 
								<a href="{% url 'custom-admin:doctors' %}"><i class="fe fe-user-plus"></i> <span>Doctors</span></a>
							</li>
							<li> 
								<a href="{% url 'custom-admin:parents' %}"><i class="fe fe-user"></i> <span>Parents</span></a>
							</li>
							<li> 
								<a href="{% url 'custom-admin:children' %}"><i class="fe fe-user"></i> <span>Children Records</span></a>
							</li>
							<li class="menu-title"> 
								<span>Pages</span>
							</li>
							<li class="submenu">
								<a href="#"><i class="fe fe-document"></i> <span> Authentication </span> <span class="menu-arrow"></span></a>
								<ul style="display: none;">
									{% if request.user.is_authenticated %}
										<li><a href="{% url 'accounts:logout' %}"> Logout </a></li>
									{% endif %}
									<li><a href="#"> Register MOH </a></li>
									<li><a href="#"> Forgot Password </a></li>
									<li><a href="#"> Lock Screen </a></li>
								</ul>
							</li>
							
						
							
						</ul>
					</div>
                </div>
            </div>
			<!-- /Sidebar -->

        
            {% block body %}
            
            
            
            {% endblock body %}



        </div>
		<!-- /Main Wrapper -->
		
		<!-- jQuery -->
        <script src="{% static 'admin-static/assets/js/jquery-3.2.1.min.js' %}"></script>
		
		<!-- Bootstrap Core JS -->
        <script src="{% static 'admin-static/assets/js/popper.min.js' %}"></script>
        <script src="{% static 'admin-static/assets/js/bootstrap.min.js' %}"></script>
		
		<!-- Slimscroll JS -->
        <script src="{% static 'admin-static/assets/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
		
		<script src="{% static 'admin-static/assets/plugins/raphael/raphael.min.js' %}"></script>    
		<script src="{% static 'admin-static/assets/plugins/morris/morris.min.js' %}"></script>  
		<script src="{% static 'admin-static/assets/js/chart.morris.js' %}"></script>
		
		<!-- Custom JS -->
		<script  src="{% static 'admin-static/assets/js/script.js' %}"></script>
		
    </body>
</html>