{% extends 'admin-dash/base.html' %}
{% load static %}
{% block title %} Doctors {% endblock title %}


{% block body %}


<div class="page-wrapper">
    <div class="content container-fluid">
    
        <!-- Page Header -->
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title">List of Doctors</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="javascript:(0);">Users</a></li>
                        <li class="breadcrumb-item active">Doctor</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /Page Header -->
        
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="datatable table table-hover table-center mb-0">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Doctor Name</th>
                                        <th>Member Since</th>
                                        <th>Hospital</th>
                                        <th>Account Status</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>

                                    {% for doctor in doctors %}
                                    

                                        <tr>
                                            <td><a href="{% url 'custom-admin:doctor-detail' doctor.pk %}">#{{doctor.doctor_id}}</a></td>
                                            <td>
                                                <h2 class="table-avatar"> 
                                                    <a href="{% url 'custom-admin:doctor-detail' doctor.pk %}">{{ doctor.salutation }} {{ doctor.user.first_name }}  {{ doctor.user.last_name }}</a>
                                                </h2>
                                            </td>
                                            
                                            <td>{{ doctor.date_joined | date:'d M Y' }} <br><small>02.59 AM</small></td>
                                            <td>{{ doctor.hospital }}</td>
                                            <td>
                                                <div class="status-toggle">
                                                    {% if doctor.is_verified %}
                                                        <input type="checkbox" id="status_1" class="check" checked>
                                                        <label for="status_1" class="checktoggle">checkbox</label>
                                                    {% else %}
                                                        <input type="checkbox" id="status_1" class="check">
                                                        <label for="status_1" class="checktoggle">checkbox</label>
                                                    {% endif %}
                                                </div>
                                            </td>
                                        </tr>
                                        

                                    {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>			
        </div>
        
    </div>			
</div>



{% endblock body %}