<!DOCTYPE html> 
{% load static %}
<html lang="en">

<head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
		<title>VACCINE || {% block title %}{% endblock title %}</title>

		<meta name="description" content="VacTrac - Child Immunization Tracking System">
		<meta name="keywords"
			content="VacTrac, Vaccine, Immunization, Vaccine Tracking System" />
		
		<!-- Favicons -->
		<link type="image/x-icon" href="{% static 'assets/img/favicon.png' %}" rel="icon">
		
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
		
		<!-- Fontawesome CSS -->
		<link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/fontawesome.min.css' %}">
		<link rel="stylesheet" href="{% static 'assets/plugins/fontawesome/css/all.min.css' %}">
		
		<!-- Main CSS -->
		<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
		

	
	</head>
	<body>

		<!-- Main Wrapper -->
		<div class="main-wrapper">
		
			<!-- Header -->
			<header class="header">
				<nav class="navbar navbar-expand-lg header-nav">
					<div class="navbar-header">
						<a id="mobile_btn" href="javascript:void(0);">
							<span class="bar-icon">
								<span></span>
								<span></span>
								<span></span>
							</span>
						</a>
						<a href="{% url 'core:index' %}" class="navbar-brand logo">
							<img src="{% static 'assets/img/logo.png' %}" class="img-fluid" alt="Logo">
						</a>
					</div>
					<div class="main-menu-wrapper">
						<div class="menu-header">
							<a href="{% url 'core:index' %}" class="menu-logo">
								<img src="{% static 'assets/img/logo.png' %}" class="img-fluid" alt="Logo">
							</a>
							<a id="menu_close" class="menu-close" href="javascript:void(0);">
								<i class="fas fa-times"></i>
							</a>
						</div>
						<ul class="main-nav">
							<li class="">
								<a href="{% url 'core:index' %}">Home</a>
							</li>

							<li class="">
								<a href="{% url 'core:clients' %}">Hospitals</a>
							</li>
									
							<li class="has-submenu">
								<a href="#">Account <i class="fas fa-chevron-down"></i></a>
								{% if request.user.is_authenticated %}
							<ul class="submenu">
								<li><a href="{% url 'accounts:login' %}">Logout</a></li>
							</ul>
									
									{% else %}
									<ul class="submenu">
										<li><a href="{% url 'accounts:login' %}">Login</a></li>
										<li><a href="{% url 'accounts:register' %}">Register</a></li>
										<li><a href="#">Forgot Password</a></li>
									</ul>
								
								{% endif %}
							</li>
							{% if request.user.is_authenticated %}	

								{% if request.user.is_admin %}
									<li>
										<a href="{% url 'custom-admin:index' %}" target="_blank">Admin</a>
									</li>
								{% endif %}
							
							{% endif %}


							<li class="login-link">
								<a href="{% url 'accounts:login' %}">Login / Signup</a>
							</li>
						</ul>		 
					</div>		 
					<ul class="nav header-navbar-rht">
						<li class="nav-item contact-item">
							<div class="header-contact-img">
								<i class="far fa-hospital"></i>							
							</div>
							<div class="header-contact-detail">
								<p class="contact-header">Contact</p>
								<p class="contact-info-header"> +254 713 303092</p>
							</div>
						</li>
						{% if request.user.is_authenticated %}
						
						<li class="nav-item dropdown has-arrow logged-item">
							<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
								{% if request.user.is_doctor %}
									<span class="user-img">
										<img class="rounded-circle" src="{{ request.user.doctor.profile_picture_thumbnail.url }}" width="31" alt="Darren Elder">
									</span>
								{% elif request.user.is_parent %}
									<span class="user-img">
										<img src="{{ request.user.parent.profile_picture_thumbnail.url }}" alt="User Image" class="avatar-img rounded-circle">
									</span>
								{% endif %}
							</a>
							<div class="dropdown-menu dropdown-menu-right">
								<div class="user-header">
									<div class="avatar avatar-sm">
										{% if request.user.is_doctor %}
											<img src="{{ request.user.doctor.profile_picture_thumbnail.url }}" alt="User Image" class="avatar-img rounded-circle">
										{% elif request.user.is_parent %}
											<img src="{{ request.user.parent.profile_picture_thumbnail.url }}" alt="User Image" class="avatar-img rounded-circle">
										{% endif %}
									</div>
									<div class="user-text">
										<h6>{{ request.user.username }}</h6>
										{% if request.user.is_doctor %}
											<p class="text-muted mb-0">Doctor</p>
										{% else %}
											<p class="text-muted mb-0">Parent</p>
										{% endif %}
									</div>
								</div>
								{% if request.user.is_parent %}
									<a class="dropdown-item" href="{% url 'core:parent-dashboard' %}">Dashboard</a>
								{% elif request.user.is_doctor%}
									<a class="dropdown-item" href="{% url 'core:doctor-dashboard' %}">Dashboard</a>
								{% endif %}
								<a class="dropdown-item" href="#">Profile Settings</a>
								<a class="dropdown-item" href="{% url 'accounts:logout' %}">Logout</a>
							</div>
						</li>
							
						{% else %}
							<li class="nav-item">
								<a class="nav-link header-login" href="{% url 'accounts:login' %}">login / Signup</a>
							</li>
							
						{% endif %}
					</ul>
				</nav>
			</header>
			<!-- /Header -->



            {% block body %}{% endblock body %}



			<!-- Footer -->
			<footer class="footer">
				
				<!-- Footer Top -->
				<div class="footer-top">
					<div class="container-fluid">
						<div class="row">
							<div class="col-lg-3 col-md-6">
							
								<!-- Footer Widget -->
								<div class="footer-widget footer-about">
									<div class="footer-logo">
										<img src="{% static 'assets/img/logo.png' %}" alt="logo">
									</div>
									<div class="footer-about-content">
										<p>VacTrac is a child immunization registry and tracking system to register children,track their immunization records and send reminders to parents on their childs next visit. </p>
										<div class="social-icon">
											<ul>
												<li>
													<a href="#" target="_blank"><i class="fab fa-facebook-f"></i> </a>
												</li>
												<li>
													<a href="#" target="_blank"><i class="fab fa-twitter"></i> </a>
												</li>
												<li>
													<a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
												</li>
												<li>
													<a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
												</li>
												<li>
													<a href="#" target="_blank"><i class="fab fa-dribbble"></i> </a>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<!-- /Footer Widget -->
								
							</div>
							
							<div class="col-lg-3 col-md-6">
							
								<!-- Footer Widget -->
								<div class="footer-widget footer-menu">
									<h2 class="footer-title">For Parents</h2>
									<ul>
										<li><a href="#"><i class="fas fa-angle-double-right"></i>Hospitals</a></li>
										<li><a href="{% url 'accounts:login' %}"><i class="fas fa-angle-double-right"></i> Login</a></li>
										<li><a href="{% url 'accounts:register' %}"><i class="fas fa-angle-double-right"></i> Register</a></li>
										<li><a href="#"><i class="fas fa-angle-double-right"></i>Dashboard</a></li>
									</ul>
								</div>
								<!-- /Footer Widget -->
								
							</div>
							
							<div class="col-lg-3 col-md-6">
							
								<!-- Footer Widget -->
								<div class="footer-widget footer-menu">
									<h2 class="footer-title">For Doctors</h2>
									<ul>
										<li><a href="{% url 'accounts:login' %}"><i class="fas fa-angle-double-right"></i> Login</a></li>
										<li><a href="{% url 'accounts:register-doctor' %}"><i class="fas fa-angle-double-right"></i> Register</a></li>
										<li><a href="#"><i class="fas fa-angle-double-right"></i> Dashboard</a></li>
									</ul>
								</div>
								<!-- /Footer Widget -->
								
							</div>
							
							<div class="col-lg-3 col-md-6">
							
								<!-- Footer Widget -->
								<div class="footer-widget footer-contact">
									<h2 class="footer-title">Contact Us</h2>
									<div class="footer-contact-info">
										<div class="footer-address">
											<span><i class="fas fa-map-marker-alt"></i></span>
											<p>  X34H+8PC, General Kago Rd,<br> Thika, Kenya</p>
										</div>
										<p>
											<i class="fas fa-phone-alt"></i>
											+254 746 552 126
										</p>
										<p class="mb-0">
											<i class="fas fa-envelope"></i>
											contact@vactrac.com
										</p>
									</div>
								</div>
								<!-- /Footer Widget -->
								
							</div>
							
						</div>
					</div>
				</div>
				<!-- /Footer Top -->
				
				<!-- Footer Bottom -->
                <div class="footer-bottom">
					<div class="container-fluid">
					
						<!-- Copyright -->
						<div class="copyright">
							<div class="row">
								<div class="col-md-6 col-lg-6">
									<div class="copyright-text">
										<p class="mb-0"><a href="#">VacTrac</a></p>
									</div>
								</div>
								<div class="col-md-6 col-lg-6">
								
									<!-- Copyright Menu -->
									<div class="copyright-menu">
										<ul class="policy-menu">
											<li><a href="{% url 'core:terms-and-conditions' %}">Terms and Conditions</a></li>
											<li><a href="{% url 'core:privacy-policy' %}">Policy</a></li>
										</ul>
									</div>
									<!-- /Copyright Menu -->
									
								</div>
							</div>
						</div>
						<!-- /Copyright -->
						
					</div>
				</div>
				<!-- /Footer Bottom -->
				
			</footer>
			<!-- /Footer -->
		   
	   </div>
	   <!-- /Main Wrapper -->
	  
		<!-- jQuery -->
		<script src="{% static 'assets/js/jquery.min.js' %}"></script>
		
		<!-- Bootstrap Core JS -->
		<script src="{% static 'assets/js/popper.min.js' %}"></script>
		<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
		
		<!-- Slick JS -->
		<script src="{% static 'assets/js/slick.js' %}"></script>
		
		<!-- Custom JS -->
		<script src="{% static 'assets/js/script.js' %}"></script>
		
	</body>
</html>