{% extends 'base.html' %}
{% load static %}

{% block titile %} Profile Settings {% endblock titile %}

{% block body %}


			
			<!-- Breadcrumb -->
			<div class="breadcrumb-bar">
				<div class="container-fluid">
					<div class="row align-items-center">
						<div class="col-md-12 col-12">
							<nav aria-label="breadcrumb" class="page-breadcrumb">
								<ol class="breadcrumb">
									<li class="breadcrumb-item"><a href="index-2.html">Home</a></li>
									<li class="breadcrumb-item active" aria-current="page">Profile Settings</li>
								</ol>
							</nav>
							<h2 class="breadcrumb-title">Profile Settings</h2>
						</div>
					</div>
				</div>
			</div>
			<!-- /Breadcrumb -->
			
			<!-- Page Content -->
			<div class="content">
				<div class="container-fluid">

					<form action="" method="POST">{% csrf_token %}

						<div class="row">
							<div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
							
								<!-- Profile Sidebar -->
								{% include 'partials/doctor_profile_sidebar.html' %}
								<!-- /Profile Sidebar -->
								
							</div>
							<div class="col-md-7 col-lg-8 col-xl-9">
							
								<!-- Basic Information -->
								<div class="card">
									<div class="card-body">
										<h4 class="card-title">Basic Information</h4>
										<div class="row form-row">
											<div class="col-md-12">
												<div class="form-group">
													<div class="change-avatar">
														<div class="profile-img">
															<img src="{{ doctor.profile_picture_thumbnail.url }}" alt="User Image">
														</div>
														<div class="upload-img">
															<div class="change-photo-btn">
																<span><i class="fa fa-upload"></i> Upload Photo</span>
																{{ form.profile_picture }}
															</div>
															<small class="form-text text-muted">Allowed JPG, GIF or PNG. Max size of 2MB</small>
														</div>
													</div>
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label>{{ request.user.username }} <span class="text-danger">*</span></label>
													<input type="text" class="form-control" readonly value="{{ request.user.username }}">
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label>Email <span class="text-danger">*</span></label>
													<input type="email" class="form-control" readonly value="{{ request.user.email }}">
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label>First Name <span class="text-danger">*</span></label>
													<input type="text" class="form-control" readonly value="{{ request.user.first_name }}">
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label>Last Name <span class="text-danger">*</span></label>
													<input type="text" class="form-control" readonly value="{{ request.user.last_name }}">
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label>Phone Number</label>
													{{ form.phone_no }}
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label>Gender</label>
													{{ form.gender }}
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- /Basic Information -->
								
								<!-- About Me -->
								<div class="card">
									<div class="card-body">
										<h4 class="card-title">About Me</h4>
										<div class="form-group mb-0">
											<label>Biography</label>
											{{ form.about }}
										</div>
									</div>
								</div>
								<!-- /About Me -->
								
								
	
								<!-- Contact Details -->
								<div class="card contact-card">
									<div class="card-body">
										<h4 class="card-title">Contact Details</h4>
										<div class="row form-row">
											<div class="col-md-6">
												<div class="form-group">
													<label>Address</label>
													{{ form.address }}
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label class="control-label">Address Line 2</label>
													<input type="text" class="form-control">
												</div>
											</div>
											
										</div>
									</div>
								</div>
								<!-- /Contact Details -->
								
								
								
								<!-- Services and Specialization -->
								<div class="card services-card">
									<div class="card-body">
										<h4 class="card-title">Services and Specialization</h4>
										
										<div class="form-group mb-0">
											<label>Specialization </label>
											{{ form.speciality }}
											<small class="form-text text-muted">Note : Type & Press  enter to add new specialization</small>
										</div> 
									</div>              
								</div>
								<!-- /Services and Specialization -->
								
								
								
								<div class="submit-section submit-btn-bottom">
									<button type="submit" class="btn btn-primary submit-btn">Save Changes</button>
								</div>
								
							</div>
						</div>

					</form>

				</div>

			</div>		
			<!-- /Page Content -->
   
		

{% endblock body %}